* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

@font-face {
    font-family: gill-sans;
    src: url(../css/fonts/GillSans.ttc);
}

@font-face {
    font-family: proxima-nova;
    src: url(../css/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}