.footer {
    height: 100px;
    width: 1280px;
    background-color: #79addc;
    margin: 0 auto;
    display: flex;

    .logo {

        width: 425px;
        height: 100px;
        // background-color: red;
        display: flex;
        align-items: center;
        padding-left: 10px;

        .title-box {
            width: 80px;
            height: 42px;
            // background-color: lightslategray;
            display: flex;
            align-items: center;
            padding-top: 28px;
            justify-content: center;
            font-family: gill-sans;
            font-size: 20px;
            color: white;
            border-style: solid;
            border-color: white;
            border-width: 1px;
        }

    }

    .copyright {
        width: 425px;
        height: 100px;
        // background-color: green;
        color: white;
        font-family: gill-sans;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .social {
    width: 425px;
    height: 100px;
    // background-color: blue;
    }
}